<h6 style="margin: 4px;" mat-dialog-title>Login</h6>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">

<div style="width: 500px; padding-top: 10px;">

    <div>
      <mat-form-field style="margin: 15px; width: 450px">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" color="accent" #input>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="margin: 15px; width: 450px">
        <mat-label>Senha</mat-label>
        <input type="password" matInput placeholder="Senha" color="accent" #input>
      </mat-form-field>
    </div>

    <a style='padding-left: 12px;' [routerLink]="['../home']" (click)="ShowSnackBar('Esqueci Minha Senha')">Esqueci Minha Senha</a>

  <div style="display: flex; justify-content: center;">
    <button style="margin: 15px;" (click)="ShowSnackBar('Realizando Login !')" mat-raised-button color="primary">Entrar</button>
    <a style="margin: 15px;" mat-raised-button color="primary">Cadastra-se</a>
  </div>

</div>

</mat-dialog-content>
<mat-divider></mat-divider>
