<h6 style="margin: 4px;" mat-dialog-title>Realizar Agendamento</h6>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">

  <div style="width: 500px; padding-top: 10px;">

      <div>
        <mat-form-field style="margin: 15px; width: 450px" appearance="fill">
          <mat-label>Local</mat-label>
          <input matInput placeholder="Local:" color="accent" #input>
        </mat-form-field>

        <mat-form-field appearance="fill" style="padding-top: 15px;">
          <mat-label>Data da Tarefa</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="margin: 15px; padding-top: 3px;" appearance="fill">
          <mat-label>Tempo Empregado</mat-label>
          <mat-select>
            <mat-option value="1 Hora">1 Hora</mat-option>
            <mat-option value="2 Horas">2 Horas</mat-option>
            <mat-option value="3 Horas">3 Horas</mat-option>
            <mat-option value="4 Horas">4 Horas</mat-option>
            <mat-option value="5 Horas">5 Horas</mat-option>
            <mat-option value="6 Horas">6 Horas</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div>
        <mat-form-field style="margin: 15px; width: 450px" appearance="fill">
          <mat-label>Descrição da Tarefa</mat-label>
          <textarea matInput placeholder="Descrição da Tarefa:" color="accent" #input></textarea>
        </mat-form-field>
      </div>

      <div mat-dialog-actions style="display: flex; justify-content: center;">
        <button style="margin: 15px;" (click)="ShowSnackBar('Realizando Agendamento !')" mat-raised-button color="primary">Realizar Agendamento</button>
      </div>

  </div>
</mat-dialog-content>
