<h4 style="margin: 4px;" mat-dialog-title>Muito Obrigado !</h4>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">

  <div style="margin: 10px;">
    <h6>
      Você Acabou de Ajudar Muita gente !
    </h6>

    <p> O time FrenzyDonates agredece imensamente você ! <br>
      pessoas como você fazem o mundo um lugar melhor.
    </p>

    <h6>
      Pontos Ganhos: 980
    </h6>
  </div>

</mat-dialog-content>
<mat-divider></mat-divider>

<mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
