table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  font-weight: lighter;
  margin: 4px 0;
  padding-top: 42px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.img-ong{
  height: 150px;
  width: 150px;
  margin: 8px;
  padding-top: 30px;
  padding-right: 30px;
  justify-content: center;
}

.Nome{
  text-align: justify;
}

.mat-card-item{
  justify-content: center;
}
