
<div>

  <div>
    <mat-form-field style="margin-top: 8px;">
      <mat-label>Categoria</mat-label>
      <mat-select [(ngModel)]="Categoria" (selectionChange)='OnSelectChangeCategoria()'>
        <mat-option value="Todas">Todas</mat-option>
        <mat-option value="Comunidades Carentes">Comunidades Carentes</mat-option>
        <mat-option value="Meio Ambiente">Meio Ambiente</mat-option>
        <mat-option value="Medica">Medica</mat-option>
        <mat-option value="Animais">Animais</mat-option>
        <mat-option value="Pessoas Com Deficiecia">Pessoas Com Deficiecia</mat-option>
        <mat-option value="LGBTQIAP+">LGBTQIAP+</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="margin-top: 8px; margin-left: 35px;">
      <mat-label>Ordenação</mat-label>
      <mat-select [(ngModel)]="Ordenacao" (selectionChange)='OnSelectChangeOrdenacao()'>
        <mat-option value="Mais Carentes">Mais Carentes</mat-option>
        <mat-option value="Menos Carentes">Menos Carentes</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="DataSource" multiTemplateDataRows>
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">

        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element">


          <div *ngIf="column=='Situação'">

            <div *ngIf="element.Nivel_Carencia == '1'">
                <star-rating [value]="element.Nivel_Carencia" totalstars="5" checkedcolor="red" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
                <p style="color: crimson;">Muito Carente</p>
            </div>

            <div *ngIf="element.Nivel_Carencia == '2'">
              <star-rating [value]="element.Nivel_Carencia" totalstars="5" checkedcolor="red" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
              <p style="color: crimson;">Carente</p>
            </div>

            <div *ngIf="element.Nivel_Carencia == '3'">
              <star-rating  [value]="element.Nivel_Carencia" totalstars="5" checkedcolor="orange" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
              <p style="color: orange;">Regular</p>
            </div>

            <div *ngIf="element.Nivel_Carencia == '4'">
              <star-rating [value]="element.Nivel_Carencia" totalstars="5" checkedcolor="green" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
              <p style="color: green;">Boa</p>
            </div>

            <div *ngIf="element.Nivel_Carencia == '5'">
              <star-rating [value]="element.Nivel_Carencia" totalstars="5" checkedcolor="green" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
              <p style="color: green;">Otima</p>
            </div>

          </div>

          <img *ngIf="column=='-'" class="img-ong"  mat-card-image [src]="element.Avatar" [alt]="'Logo da Ong : ' + element.name">

          <p *ngIf="column=='Nome'" class="Nome">{{element.Name}}</p>


        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="element-diagram">
                <a mat-raised-button color="primary" [routerLink]="['/ong',element.Name]">Contribua !</a>
                <a [href]="element.Site" target="_blank"  style="margin-top: 5px;" mat-raised-button color="primary">Nosso Site</a>
              </div>
              <div class="element-description">
                <mat-card class="mat-card-item">
                  <mat-card-content>
                    <p><b>Area:</b>{{' ' + element.Area}}</p>
                    <h6>Sobre nos :</h6>
                    {{element.Descricao}}
                    <span class="element-description-attribution"></span>
                  </mat-card-content>
                </mat-card>
              </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10]" aria-label="selecione a pagina"></mat-paginator>
  </div>
</div>

