
<div>
  <div style="margin: 30px; width: 80%; padding-left: 20%;">
    <mat-card *ngIf="this.IsOng">
      <mat-grid-list cols="6" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="2">

          <div>
            <img class="img-ong-prefil"  mat-card-image [src]="OngObject.Avatar" [alt]="'Logo da Ong : ' + OngObject.Name">
          </div>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <h4>{{OngObject.Name}}</h4>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="2">
          <div *ngIf="OngObject.Nivel_Carencia == 1">
            <star-rating [value]="OngObject.Nivel_Carencia" totalstars="5" checkedcolor="red" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
            <p style="color: crimson;">Muito Carente</p>
          </div>

          <div *ngIf="OngObject.Nivel_Carencia == 2">
            <star-rating [value]="OngObject.Nivel_Carencia" totalstars="5" checkedcolor="red" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
            <p style="color: crimson;">Carente</p>
          </div>

          <div *ngIf="OngObject.Nivel_Carencia == 3">
            <star-rating  [value]="OngObject.Nivel_Carencia" totalstars="5" checkedcolor="orange" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
            <p style="color: orange;">Regular</p>
          </div>

          <div *ngIf="OngObject.Nivel_Carencia == 4">
            <star-rating [value]="OngObject.Nivel_Carencia" totalstars="5" checkedcolor="green" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
            <p style="color: green;">Boa</p>
          </div>

          <div *ngIf="OngObject.Nivel_Carencia == 5">
            <star-rating [value]="OngObject.Nivel_Carencia" totalstars="5" checkedcolor="green" uncheckedcolor="gray" size="24px" readonly="false"></star-rating>
            <p style="color: green;">Otima</p>
          </div>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="OngObject.Descricao.length < 300" [colspan]="6" [rowspan]="1">
          <div >
            <mat-divider></mat-divider>
            <h6  style="margin: 3px;">Descrição:</h6>
            {{OngObject.Descricao}}
          </div>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="OngObject.Descricao.length > 300" [colspan]="6" [rowspan]="2">
          <div >
            <mat-divider></mat-divider>
            <h6  style="margin: 3px;">Descrição:</h6>
            {{OngObject.Descricao}}
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="6" [rowspan]="4">
          <div style="display: block; height: 80%; width: 80%; overflow-y: scroll;">
            <h6>Maiores Doadores {{OngObject.Name}}:</h6>
            <app-grid-pessoas></app-grid-pessoas>
          </div>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="6" [rowspan]="1">
          <div style="display: flex; justify-content: center;">
            <button style="margin: 15px;" mat-raised-button color="primary" (click)="openDoacao()">Fazer Doaçao</button>
            <a style="margin: 15px;" mat-raised-button color="primary" (click)="openAgendamendo()">Realizar Trabalho Voluntario</a>
          </div>
        </mat-grid-tile>

      </mat-grid-list>
    </mat-card>
  </div>
</div>

<p *ngIf="!this.IsOng">Ong Nao Localizada !</p>
