
<div style="display: flexbox; padding-top: 20px;">
  <div style="display: flex; justify-content: center;">

    <mat-card style="width: 40%;">
      <h6 style="padding-bottom: 5px;">Cadastro de Usuario/Empresa:</h6>
      <mat-divider></mat-divider>

        <div class="center-item">
          <mat-form-field class="form-controller" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" color="accent" #input>
          </mat-form-field>

          <mat-form-field class="form-controller" appearance="fill">
            <mat-label>CEP</mat-label>
            <input matInput placeholder="CEP" color="accent" #input>
          </mat-form-field>
        </div>

        <div class="center-item">
          <mat-form-field class="form-controller" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" color="accent" #input>
          </mat-form-field>

          <div style="margin-left: 5px; padding-left: 70px;" >
            <mat-radio-group aria-labelledby="radio-group-label" class="radio-group">
              <mat-radio-button class="radio-button" [value]="false">
                Pessoa Fisica
              </mat-radio-button>
              <mat-radio-button class="radio-button" [value]="true">
                Pessoa Juridica
              </mat-radio-button>
            </mat-radio-group>
          </div>

        </div>

        <div class="center-item">
          <mat-form-field class="form-controller" appearance="fill">
            <mat-label>Senha </mat-label>
            <input matInput type="password" color="accent" #inputSenha>
          </mat-form-field>

          <mat-form-field class="form-controller" appearance="fill">
            <mat-label>Confirme a Senha</mat-label>
            <input matInput type="password" color="accent" #inputSenhaNovamente>
          </mat-form-field>
        </div>

        <div class="center-item">
          <mat-form-field class="form-controller" appearance="fill" >
            <mat-label>CPF/CNPJ</mat-label>
            <input matInput type="password" color="accent" #inputCPF>
          </mat-form-field>

          <mat-form-field appearance="fill" style="padding-top: 15px;">
            <mat-label>Data Nascimento</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div style="display: flex; justify-content: center;">
          <a [routerLink]="['../home']" style="margin: 15px;" mat-raised-button color="primary">Cadastra-se</a>
        </div>

    </mat-card>

  </div>
</div>
