.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.center-item{
  justify-content: center;
  display: flex;
}

.form-controller{

  margin: 15px;
  width: 200px

}

.radio-button {
  margin: 5px;
}
