<div>
  <mat-toolbar color="primary">
    <span>FrenzyDonates</span>
    <a mat-button [routerLink]="['../home']">
      <igx-avatar bgColor="none" class="espaco_toolbar" [src]="'assets/img/podio.png'" size="medium" alt="Logo FrenzyDonates"></igx-avatar>
    </a>
    <button mat-button (click)="openDialog()">
        <mat-icon>help</mat-icon>
    </button>
    <span class="example-spacer"></span>
      <button class="user-button" mat-button [matMenuTriggerFor]="menu">
        <div class="user">
          <igx-avatar bgColor="gray" style="margin-right: 2px;" color="white" icon="person" [roundShape]="true" size="medium"></igx-avatar>
          <p class="nome_user">Não Logado</p>
        </div>
      </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openLogin()"><mat-icon>person</mat-icon>Fazer Login</button>
    <a mat-menu-item [routerLink]="['../cadastro']"><mat-icon>person_add_alt</mat-icon>Cadastrar-se</a>
    <button  mat-menu-item [disabled]='true'><mat-icon>exit_to_app</mat-icon>Fazer Logout</button>
  </mat-menu>
</div>



