.example-spacer {
  flex: 1 1 auto;
}
.espaco_toolbar{
  margin: 10px;
}


.user-button{
  border-right: 1px solid rgb(58, 55, 55);
  border-left: 1px solid rgb(58, 55, 55);
  border-top: 1px solid rgb(58, 55, 55);
  cursor: pointer;
}

.user{
  display: flex;
  margin: 2px;
}

.nome_user{
  margin-left: 2px;
  margin-top: 22px;
  margin: right 2px;
  padding-left: 5px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 75px;
}
