<div>
  <div>
    <app-toolbar-superior></app-toolbar-superior>
  </div>
  <div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
  </div>
  <br>
</div>
<footer>
  <p>© 2021 Frenzy Donates</p>
</footer>
