


.mat-row .mat-cell {
  border-top: 1px solid transparent ;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background: lightblue;
  border-color: currentColor;
}

.mat-column-Rank {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-Name {
  padding-left: 24px;

}

