<div>

  <div>
    <mat-form-field>
      <mat-label>Filtrar por Nome</mat-label>
      <button matSuffix mat-icon-button color="accent"><mat-icon>search</mat-icon></button>
      <input matInput placeholder="nome" (input)='applyFilter($event)' color="accent" #input>
    </mat-form-field>
    <mat-form-field style="float: right;">
      <mat-label>Tipo Doador</mat-label>
      <mat-select [(ngModel)]="tipo_doador" (selectionChange)='OnSelectChange()'>
        <mat-option value="Pessoa Fisica">Pessoa Fisica</mat-option>
        <mat-option value="Empresa">Empresa</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="Datasource" style="width: 100%;" matSort>

      <ng-container matColumnDef="Rank">
        <th mat-header-cell *matHeaderCellDef>Rank</th>
        <td mat-cell *matCellDef="let element">
          <div>
            <img style="margin-top: 10px;" *ngIf="element.Posicao == 1" mat-card-image src="assets/img/golden.png" alt="medalha de ouro">
            <img style="margin-top: 10px;" *ngIf="element.Posicao == 2" mat-card-image src="assets/img/silver.png" alt="medalha de prata">
            <img style="margin-top: 10px;" *ngIf="element.Posicao == 3" mat-card-image src="assets/img/bronze.png" alt="medalha de bronze">
            <div>{{element.Posicao}}</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">
          <igx-avatar style="margin: 5px;" [src]="'assets/pessoas-empresas/' + element.Id + '.png'" [roundShape]="element.Ispessoa" size="large"></igx-avatar>
          {{element.Name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Points">
        <th mat-header-cell *matHeaderCellDef>pontos</th>
        <td mat-cell *matCellDef="let element"> {{element.Points}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr
        mat-row
        (click)="clickedRows.add(row)"
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5,10]" aria-label="selecione a pagina"></mat-paginator>
  </div>
</div>
