<h6 style="margin: 4px;" mat-dialog-title>Realizar Doação</h6>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">

  <div style="width: 500px; padding-top: 10px;">

      <div>

        <mat-form-field style="margin: 15px; padding-top: 3px;" appearance="fill">
          <mat-label>Tipo Pagamento</mat-label>
          <mat-select>
            <mat-option value="PIX">PIX</mat-option>
            <mat-option value="Cartão de Credito">Cartão de Credito</mat-option>
            <mat-option value="Cartão de Debito">Cartão de Debito</mat-option>
            <mat-option value="Boleto">Boleto</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="margin: 15px; width: 450px" appearance="fill">
          <mat-label>Valor</mat-label>
          <input matInput placeholder="Valor" color="accent" #input>
        </mat-form-field>

      </div>


      <div mat-dialog-actions style="display: flex; justify-content: center;">
        <button style="margin: 15px;" (click)="ShowSnackBar('Realizando Pagamento !')" mat-raised-button color="primary">Realizar Pagamento</button>
      </div>

  </div>
</mat-dialog-content>
