
<div class="gridBox">
    <br>
    <h6>Ranking de Doadores:</h6>
    <app-grid-pessoas></app-grid-pessoas>
    <br>
    <h6>Listagem de ONGS:</h6>
    <app-grid-ongs style ="margin-bottom: 200px;"></app-grid-ongs>
    <br><br><br>
</div>





