<h4 style="margin: 4px;" mat-dialog-title>Seja Bem vindo ao Frenzy Donates !</h4>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">

  <p>Que tal ajudar a sua causa favortia, trasformar o mundo em um lugar melhor e ainda ser recompensado por isso?<br>
    aqui é possivel ! faça doações, realize trabalhos voluntários e ajude as suas ongs favoritas em troca de Pontos.
  </p>

  <h6 style="margin: 4px;" >Como funciona os pontos ?</h6>
  <p> Ao Realizar uma doação ou trabalho voluntário você irá ganhar pontos.<br>
    a quantidade de pontos recebidos está relacionado com a quantia da doação,
    e o tempo do trabalho voluntario realizado.
  </p>

  <h6 style="margin: 4px;" >Classificações das ONGS</h6>
  <p>As ONGS estão classificadas por sua categoria e a sua Situação de Carência<br>
   as Ongs mais carentes precisam de mais ajuda ! Essas são as Ongs que recebem menos<br>
   dinheiro e menos supporte, dessa forma ajudar essas Ongs irá resultar em mais pontos!
  </p>

  <h6 style="margin: 4px;" >O que posso fazer com meus pontos ?</h6>
  <p>Os pontos irão rankear você junto de outros usuarios ! e você estará para sempre na história dessa ong <br>
    além disso, subir nos rankings garante ao usuário participar de sorteios e premios exclusivos organizados pelas proprias Ongs.
  </p>

</mat-dialog-content>
<mat-divider></mat-divider>

<mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
